.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .form-container {
    width: 600px;
    max-width: 100%;
    margin: 20px;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Added position relative */
  }
  
  .form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }
  
  .form-container input[type='text'],
  .form-container input[type='email'],
  .form-container input[type='password'],
  .form-container select,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #000000;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .form-container select {
    appearance: none;
    background-color: #ffffff;
  cursor: pointer;
  }
  
  .form-container textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .form-container button {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  
  .form-container button:disabled {
    background-color: #32ff09;
    cursor: not-allowed;
  }
  
  .form-container .form-group {
    margin-bottom: 20px;
  }
  
  .form-container .form-group:last-child {
    margin-bottom: 0;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #f35900;
  }
  