.header {
    background: linear-gradient(135deg,#00c3ff,#ff0066, #ff8a00, #ff0066, #00c3ff);
    color: #fff;
    padding: 20px;
    text-align: center;
    height: auto;
    border-bottom:5px solid blue;
  }
  
  
  .main-heading {
    font-size: 40px;
    margin: 0;
  }
  
  .slogan {
    font-size: 20px;
    margin: 0;
    font-style: italic;
  }